
.DS_Store
CHANGELOG.md
*.txt
/dist-newstyle
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/build/NN.dyn_o
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/build/NN.hi
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/build/NN.o
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/cache/build
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/cache/config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/cache/registration
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/setup-config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/build/mnist/mnist
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/build/mnist/mnist-tmp/Main.hi
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/build/mnist/mnist-tmp/Main.o
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/cache/build
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/cache/config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/setup-config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/build/test/test
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/build/test/test-tmp/Main.hi
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/cache/build
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/cache/config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/setup-config
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-9.4.8/NeuralNetwork-0.1.0.0-inplace.conf
dist-newstyle/packagedb/ghc-9.4.8/package.cache
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/build/NN.dyn_o
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/build/NN.hi
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/build/NN.o
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/cache/build
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/cache/config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/cache/registration
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/setup-config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/build/mnist/mnist
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/build/mnist/mnist-tmp/Main.hi
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/build/mnist/mnist-tmp/Main.o
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/cache/build
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/cache/config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/mnist/setup-config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/build/test/test
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/build/test/test-tmp/Main.hi
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/cache/build
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/cache/config
dist-newstyle/build/aarch64-osx/ghc-9.4.8/NeuralNetwork-0.1.0.0/x/test/setup-config
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
dist-newstyle/cache/plan.json
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-9.4.8/NeuralNetwork-0.1.0.0-inplace.conf
dist-newstyle/packagedb/ghc-9.4.8/package.cache
